::selection {
  background: #323;
  color: #de1;
}

:any-link {
  background: #d3c;
  color: inherit;
  transition: 333ms ease-in-out;
}

:any-link:nth-child(odd) {
  background: #cd2;
}

:focus {
  filter: hue-rotate(-36deg);
}

:active {
  filter: hue-rotate(-72deg);
}

html {
  background: mediumpurple;
  background-image: linear-gradient(.9turn, #1ed 0%, transparent 20%, transparent 80%, #cd2);
  color: #121113;
  transition: 333ms ease-in-out;
}